// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#drag {
  padding-bottom: 56.25%;
  min-height: 1em;
  margin: 0.3%;
  background-color: black;
  color: white;
  border-radius: 0.75em;
  padding: 1.5%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}


.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.searchbox {
  grid-column: 2;
  grid-row: 2;
}

.container .draggable:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.container .draggable:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

.container .draggable:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}

.container .draggable:nth-child(4) {
  grid-row: 2;
  grid-column: 1;
}

.container .draggable:nth-child(5) {
  grid-row: 2;
  grid-column: 3;
}

.container .draggable:nth-child(6) {
  grid-row: 3;
  grid-column: 1;
}

.container .draggable:nth-child(7) {
  grid-row: 3;
  grid-column: 2;
}

.container .draggable:nth-child(8) {
  grid-row: 3;
  grid-column: 3;
}




